<div class="mission-container">
    <h4>Mission Details</h4>
  
    <app-mission-form></app-mission-form> 
    <!-- This is where your MissionFormComponent will be embedded -->
    
    <!-- <div class="mission-details">
      <h3>Mission Summary</h3>
      <p><strong>Mission Name:</strong> {{ mission.mission_name }}</p>
      <p><strong>Start Time:</strong> {{ mission.start_time }}</p>
      <p><strong>End Time:</strong> {{ mission.end_time }}</p>
      <p><strong>Survey Area (Latitude, Longitude):</strong> {{ mission.survey_area.lat }}, {{ mission.survey_area.lon }}</p>
    </div>
  
    <button (click)="saveMission()" mat-raised-button color="primary">Save Mission</button> -->
  </div>
  