<div class="map-container">
    <!-- Static image of India map from external URL -->
    <img src="https://static.vecteezy.com/system/resources/previews/019/633/223/original/doodle-freehand-drawing-of-india-map-free-png.png"
        alt="India Map" class="india-map">

    <!-- Navigation markers for drone locations with mat-icon -->
    <div class="marker" style="top: 40%; left: 20%;" title="Drone 1">
        <mat-icon class="drone-icon">navigation</mat-icon> <!-- Material Navigation Icon -->
    </div>
    <div class="marker" style="top: 50%; left: 25%;" title="Drone 2">
        <mat-icon class="drone-icon">navigation</mat-icon> <!-- Material Navigation Icon -->
    </div>
    <div class="marker" style="top: 15%; left: 25%;" title="Drone 3">
        <mat-icon class="drone-icon">navigation</mat-icon> <!-- Material Navigation Icon -->
    </div>
    <div class="marker" style="top: 56%; left: 36%;" title="Drone 4">
        <mat-icon class="drone-icon">navigation</mat-icon> <!-- Material Navigation Icon -->
    </div>
    <div class="marker" style="top: 75%; left: 24%;" title="Drone 5">
        <mat-icon class="drone-icon">navigation</mat-icon> <!-- Material Navigation Icon -->
    </div>
    <div class="marker" style="top: 45%; left: 39%;" title="Drone 6">
        <mat-icon class="drone-icon">navigation</mat-icon> <!-- Material Navigation Icon -->
    </div>
    <div class="marker" style="top: 25%; left: 29%;" title="Drone 7">
        <mat-icon class="drone-icon">navigation</mat-icon> <!-- Material Navigation Icon -->
    </div>

    <!-- Legend for the drone markers inside the map container -->
    <div class="legend">
        <div class="legend-item">
            <mat-icon class="legend-icon">navigation</mat-icon>
            <span>Drone in Place</span>
        </div>
    </div>
</div>
